<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{mail/layout :: layout(~{::content})}">

<body>
    <div th:fragment="content">
        <h2 style="color: #27ae60;">¡Cuenta Activada!</h2>
        <p>Tu correo ha sido verificado con éxito.</p>
        <p>Ya puedes iniciar sesión en la aplicación.</p>

        <div style="text-align: center; margin-top: 30px;">
            <a th:href="${frontendUrl}"
                style="background-color: #27ae60; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold;">
                Ir al Login
            </a>
        </div>
    </div>
</body>

</html>